/* universal styling */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  /* border: 3px solid #39df71; */
  height: 50vh;
  width: 50%;
  margin: 0 auto;
}

.item {
  background-color: #393d3f;
  border: 3px solid rgba(0, 0, 0, 0);
  color: #e6e6e8;
  font-size: 40px;
}

/* flexbox begins here  */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  /* default value is flex-start*/
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  /* align-items: baseline; */
  /* align-items: stretch; (default) */
  /* flex-wrap: wrap-reverse; */
  /* flex-flow: nowrap; */
  /* align-content: flex-start; */
}

.item {
  /* width: 80px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100px;
  /* flex-basis: 1 1 25%; */
  /* align-self: center; */
}

.item:nth-child(1),
.item:nth-child(5),
.item:nth-child(9) {
  background-color: #333;
}
.item:nth-child(3),
.item:nth-child(4),
.item:nth-child(8) {
  background-color: purple;
}
.item:nth-child(2),
.item:nth-child(6),
.item:nth-child(7) {
  background-color: blue;
}

/* notice that we can align items individually and independently */
.item-3 {
  /* align-self: flex-end; */
  /* when resizing this is 1/2 as big as the other children*/
  /* flex-shrink: 2; */
  /* flex: 2 1 30px; */
}

/* NAV STYLING */

nav {
  width: 100%;
  padding: 0px 10px 0 30px;
}

.logo {
  display: inline-block;
  font-size: 1.9rem;
}

.nav-links {
  list-style: none;
}

.nav-links {
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

.navbar a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
